body{
    color: rgb(210, 66, 141);
    background-color: rgb(248, 209, 243);
    background-image: url(girasol2.webp);
}
header{
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-size: 100;
}
section{
    color: black;
font-size: 50;

}